body{
    background-color: lightgray;
}
h1{
    text-align: center;
    padding: 40px;
    background-color: lightskyblue;
    color:white;
    font-size: 50px;
}
#technology{
    position: absolute;
    font-size: 20px;
    left:600px;
    top:450px;
}
#business{
    position: absolute;
    font-size: 20px;
    left:150px;
    top:450px;
}
#engineering{
    position: absolute;
    font-size: 20px;
    left:1050px;
    top:450px;
}
#techPic{
    width: 200px;
    height:200px;
    position: absolute;
    left: 600px;
    top: 200px
}
#businessPic{
    width: 200px;
    height:200px;
    position: absolute;
    left: 150px;
    top: 200px
}
#engPic{
    width: 200px;
    height:200px;
    position: absolute;
    left: 1050px;
    top: 200px
}
#about{
    font-size: 15px;
    position: absolute;
    left:525px;
    top:130px;
    
}

