/*setting some variable colors*/
:root{
    --primary-color--:blue;
    --secondary-color--:lightskyblue;
    --text-color--: white;
}
/*setting text for these divs as white but I realized they're mostly links so they won't show as white really*/
div.LogoandLogin, div.Menu{
    color: var(--text-color--);
}

/*for logo and login div set background color as secondary color var*/
.LogoandLogin{
    background-color:var(--secondary-color--);
}

/*for list elements this is padding, text info and color*/
li{
    padding: 0px 10px 0px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: var(--primary-color--);
}

/*div menu setting background and text color and font weight*/
div.Menu{
    background-color:var(--secondary-color--);
    color:white;
    font-weight: bold;
}

/*for welcome message div center text and make font bigger*/
div.welcomeMessage{
    text-align: center;
    font-size: 140%
}
/*Creating the grid for the id SkillGrid I set*/
#MenuGrid{
    color: white;
    width: 100%;
    height: 50px;
    padding: 0px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto 5;
    grid-template-rows: auto 1;
}
/*Putting each skill in it's own box*/
#ItemA{
    grid-row: 1;
    grid-column:1/2;
}
#ItemB{
    grid-row:1;
    grid-column:2/3;
}
#ItemC{
    grid-row:1;
    grid-column:3/4;
}
#ItemD{
    grid-row:1;
    grid-column:4/5;
}

#MenuGrid > div{
    text-align: center;
    padding:20px;
}

