body {
    background-color: lightgray;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #headerText {
    display: inline;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  h1, h2, h3 {
      text-align: center;
  }

  h1 {
      font-size: 45px;
      padding-bottom: 30px;
      color: white;
      transform: translate(0%, -120%);
  }

  #header {
    padding: 50px;
    text-align: center;
    background: lightskyblue;
    color: white;
    font-size: 30px;
  }

  #companyContainer {
    width: 1000px;
    height:1500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5%;
    padding-right: 5%;

  }

  li {
      text-align: left;
      padding-left: 5px;
  }
  #companyContainer > div {
    width: 315px;
    height: 250px;
    text-align: center;
    border: 1px solid aliceblue;
    background-color: aliceblue;
  }


  #company1 {
    float:left;
    transform: translate(0%, -40%);

  }
  #company2 {
    margin-left: 50px;
    margin-right: 30px;
    float:left;
    transform: translate(0%, -40%);
  }

  #company3 {
    float:right;
    transform: translate(15%, -140%);
  }

  #company4 {
    float:left;
    transform: translate(0,-30%);
  }

